<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new</title>
    <style>
        body{
            background-color: #e4c3c8;
        }
        h2{
            text-align: center;
            color:#81129c;
            font-size: 30px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h2>Add New</h2>
    <form action="./add" method="POST" enctype="multipart/form-data" >
        <input type="text" name = "textName" placeholder="Name" />
        <input type="file" name="imgBook" />
        <input type="text" name = "textAuthor" placeholder="Author" />
        <input type="text" name="textCost" placeholder="Cost" />
        <input type="submit" value="Add new" />
    </form>
    
</body>
</html>